*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(37, 40, 42);
}
.wrapper{
    margin-top: 20vh;
    width: 70vw;
    height: 60vh;
}
.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}
.wrapper img.visible{
    display: block;
}